<div id="contact">
  <div class="stepper">

    <mat-vertical-stepper [linear]="isLinear">
      <!-- Stepper icons -->
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon>done all</mat-icon>
      </ng-template>

      <!-- Opinion form group -->
      <mat-step [stepControl]="opinionFormGroup">
        <form [formGroup]="opinionFormGroup">
          <ng-template matStepLabel>Help us</ng-template>
          <mat-form-field>
            <textarea matInput placeholder="Write a comment" formControlName="opinionCtrl" [(ngModel)]="userComment" required></textarea>
          </mat-form-field>
          <div>
            <mat-checkbox [(ngModel)]="userWannaJoin" [ngModelOptions]="{standalone: true}">I want to be part of the team!</mat-checkbox>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- User skills form group -->
      <mat-step *ngIf="userWannaJoin">
        <ng-template matStepLabel>How can u help us?</ng-template>
        <div>
          <mat-checkbox [(ngModel)]="userSkills.isProgrammer">I'm a programmer</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="userSkills.isDesigner">I'm a designer</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="userSkills.isOthers">I can help u in other ways</mat-checkbox>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <!-- User information form group -->
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel>Information</ng-template>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="nameCtrl" [(ngModel)]="userName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailCtrl" [(ngModel)]="userEmail" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Send email form group -->
      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="sendEmail()">Let's road!</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
