<mat-tab-group>
  <mat-tab *ngFor="let member of _members" label="{{member.name}}">
    
    <mat-card class="example-card">
      
      <img class="team_image" mat-card-image src="{{member.picture}}" alt="Photo of {{member.name}}">

      <mat-card-header>
        <mat-card-title>{{member.occupation}}</mat-card-title>
        <mat-card-subtitle>{{member.jobAtOnRoad}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{member.comment}}
      </mat-card-content>
    
    </mat-card>
  
  </mat-tab>
</mat-tab-group>







