<div id="app-navbar">
  <nav mat-tab-nav-bar>
    <!-- align="end" align navbar to right -->
    <a mat-tab-link routerLink="/">Home</a>
    <a mat-tab-link routerLink="/contact">Contact</a>
    <a mat-tab-link routerLink="/team">Team</a>
    <a mat-tab-link routerLink="/projects">Projects</a>
    <a mat-tab-link routerLink="/faqs">FAQs</a>
  </nav>
</div>
