<div id="home">
  <div id="header" class="text-center">
    <img src="./../../../assets/images/others/onroad-logo.png" id="logo" />
    <h4 id="description">
      OnRoad arises from the idea of ​​bringing people from all over the world together in one place. Offering them, in a simple
      and social way, a WHERE, WHERE and WITH WHOM.
    </h4>
  </div>
  <div id="footer" class="clear text-center">Who are you, and as you are, onRoad the questions are answered by you</div>
</div>
