#home {
  position: relative;
  /* Firefox */
  height: -moz-calc(100% - 50px);
  /* WebKit */
  height: -webkit-calc(100% - 50px);
  /* Opera */
  height: -o-calc(100% - 50px);
  /* Standard */
  height: calc(100% - 50px);
  min-height: 400px;
  background-image: url('./../../../assets/images/others/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

#home #logo {
  width: 280px;
  height: 250px;
  margin-top: 2%;
}

#home #header {
  height: 94%;
}

#home #footer {
  height: 3%;
}

#description {
  margin-top: 2%;
}
