/*************************
* GENERAL ELEMENTS STRUCTURE
**************************/

#projects {
  position: relative;
  /* Firefox */
  height: -moz-calc(100% - 50px);
  /* WebKit */
  height: -webkit-calc(100% - 50px);
  /* Opera */
  height: -o-calc(100% - 50px);
  /* Standard */
  height: calc(100% - 50px);
}

/*************************
* IMAGES
**************************/

.avatar {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

#frontendProject #frontendAvatar {
  background-image: url('./../../../assets/images/projects/angular-logo.png');
}

#apiProject #apiAvatar {
  background-image: url('./../../../assets/images/projects/spring-logo.png');
}

#comunityLandingProject #comunityLandingAvatar {
  background-image: url('./../../../assets/images/projects/angular-logo.png');
}

/*************************
* PROJECT ELEMENT STRUCTURE
**************************/

#frontendProject {
  text-align: left;
}

#apiProject {
  text-align: right;
}

#comunityLandingProject {
  text-align: left;
}
