<div id="projects">
  <div class="container-fluid" id="projectsList">
    <div class="row">
      <div class="col-xs-12">

        <!-- frontend -->
        <div class="row " id="frontendProject">
          <div class="col-xs-12">
            <!-- image -->
            <div class="floatLeft col-xs-12 col-sm-2">
              <div class="avatar" id="frontendAvatar"></div>
            </div>
            <!-- content -->
            <div class="col-xs-12 col-sm-10">
              <div class="projectTitle">
                <h1>Frontend</h1>
              </div>
              <div class="projectsSubtitle">
                <h3>An Angular5 application</h3>
              </div>
              <div class="projectDescription">
                <p>
                  The FrontEnd project is the face of OnRoad. All the information about who we are, how we work, etc must be here.
                </p>
              </div>
              <div class="projectButtons">
                <button (click)="newWindow('frontend')" mat-raised-button color="primary">Fork me on GitLab</button>
              </div>
            </div>
          </div>
        </div>

        <!-- api -->
        <div class="row" id="apiProject">
          <div class="col-xs-12">
            <!-- image -->
            <div class="floatRight col-xs-12 col-sm-2">
              <div class="avatar floatRight" id="apiAvatar"></div>
            </div>
            <!-- content -->
            <div class="col-xs-12 col-sm-10">
              <div class="projectTitle">
                <h1>API</h1>
              </div>
              <div class="projectsSubtitle">
                <h3>A spring application</h3>
              </div>
              <div class="projectDescription">
                <p>
                  The FrontEnd project is the face of OnRoad. All the information about who we are, how we work, etc must be here.
                </p>
              </div>
              <div class="projectButtons">
                <button (click)="newWindow('api')" mat-raised-button color="primary">Fork me on GitLab</button>
              </div>
            </div>
          </div>
        </div>

        <!-- comunity landing -->
        <div class="row" id="comunityLandingProject">
          <div class="col-xs-12">
            <!-- image -->
            <div class="floatLeft col-xs-12 col-sm-2">
              <div class="avatar" id="comunityLandingAvatar"></div>
            </div>
            <!-- content -->
            <div class="col-xs-12 col-sm-10">
              <div class="projectTitle">
                <h1>Comunity Landing</h1>
              </div>
              <div class="projectsSubtitle">
                <h3>An Angular5 application</h3>
              </div>
              <div class="projectDescription">
                <p>
                  This project! Yes, the one you are looking at, right now. Help will be rewarded... still thinking how.
                </p>
              </div>
              <div class="projectButtons">
                <button (click)="newWindow('comunityLanding')" mat-raised-button color="primary">Fork me on GitLab</button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
