/*************************
* VARIABLE DEFINITIONS
**************************/

$light-blue: #00c9ff;
$light-orange: #f3bf1e;
$light-green: #1ef393;
$purple: #8d19f1;
$red: #f31e1e;
$black: #000000;
$gold: #daa520;
/*************************
* SKIN DEFINITION
**************************/

/*************************
* GENERAL
**************************/

/*html,
body {
  background-color: $black;
}

* {
  color: white !important;
}*/

/*************************
* PROJECTS VIEW
**************************/

#frontendProject {
  background: -webkit-linear-gradient(90deg, $light-blue 0%, $light-green 90%);
  background: -o-linear-gradient(90deg, $light-blue 0%, $light-green 90%);
  background: -moz-linear-gradient(90deg, $light-blue 0%, $light-green 90%);
  background: linear-gradient(90deg, $light-blue 0%, $light-green 90%);
}

#apiProject {
  background: -webkit-linear-gradient(97deg, $purple 0%, $red 80%);
  background: -o-linear-gradient(97deg, $purple 0%, $red 80%);
  background: -moz-linear-gradient(97deg, $purple 0%, $red 80%);
  background: linear-gradient(97deg, $purple 0%, $red 80%);
}

#comunityLandingProject {
  background: -webkit-linear-gradient(93deg, $black 0%, $gold 80%);
  background: -o-linear-gradient(93deg, $black 0%, $gold 80%);
  background: -moz-linear-gradient(93deg, $black 0%, $gold 80%);
  background: linear-gradient(93deg, $black 0%, $gold 80%);
}

/*************************
* HOME VIEW
**************************/

#home #logo {
  -webkit-filter: drop-shadow(2px 2px 0 $gold) drop-shadow(-2px -2px 0 $gold);
  filter: drop-shadow(2px 2px 0 $gold) drop-shadow(-2px -2px 0 $gold);
}

/*************************
* CONTACT VIEW
**************************/

#contact {
  background-color: $black;
}
