/*************************
* GENERAL CSS RULES
**************************/

.no-spaces {
  padding: 0px;
  margin: 0px;
}

.fill {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
