/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';
//@import '~ngx-toastr/toastr-bs4-alert'; // This line is in the docs but looks like it's not working anymore.

/*************************
* GENERAL
**************************/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
